<div class="page-header">
  <h1>Dashboard</h1>
</div>

<div class="row-fluid">
  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Set Acceptable Fields</li>
        <li><%= link_to "Contact Salutations", acceptable_contact_salutations_path %></li>
        <li><%= link_to "Contact Positions", acceptable_contact_positions_path %></li>
        <li><%= link_to "Contact Roles", acceptable_contact_roles_path %></li>
      </ul>
    </div><!--/.well -->
  </div><!--/span-->
</div><!--/row-->