<div class="page-header">
  <h1>Imported File</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Name</strong></dt>
  <dd> <%= @file_import.file_name %></dd>  
  <dt><strong>Path</strong></dt>
  <dd> <%= @file_import.file_path %></dd>  
  <dt><strong>Status</strong></dt>
  <dd> <%= simple_format @file_import.results %></dd>
</dl>
